python/unit07-basicIO/.idea/
python/unit07-basicIO/venv/
odoo/odootycoon/controllers/__pycache__/
odoo/odootycoon/models/__pycache__/
python/unit15-tkinter/.idea/
python/unit16-SQLite/example.db
python/unit16-SQLite/exercise/restaurant.db
python/.idea